.col-md-6 {
	float:left;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 4px !important;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #e6e7e8;
}